body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #4caf;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

h1,
h2 {
    margin-top: 0;
}

#product-form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        outline: none;
        border-color: #4caf;
    }
}

button {
    background-color: #4caf;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgb(51, 189, 154);
    }
}

#inventory {
    list-style: none;
    padding: 0;
}

#inventory li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
